.description__col-left {
    position: relative;
}

.description__col-text span {
    display: block;
    margin-bottom: 9px;
}

.delivery-logo,
.harley-logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.harley-logo {
    max-width: 70%;
}